<div class="modal modal-lg" tabindex="-1">
    <div class="modal-dialog shadow">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add/Edit Customer</h5>
          <button type="button" class="btn-close" (click)="closeDialog()"></button>
        </div>
        <div class="modal-body">
        <form #form="ngForm" [formGroup]="customerForm" (ngSubmit)="submit()" autocomplete="off">
            <div class="field-row">
              <div class="form-field">
                <label class="form-label">Firstname *</label>
                <input class="form-control"
                    type="text"
                    autocomplete="off"
                    formControlName="firstname"
                    #firstnameInput
                    [ngClass]="{'is-invalid': customerForm.controls['firstname'].invalid && customerForm.controls['firstname'].touched}">
                <small class="invalid-feedback">
                  The field is mandatory and has a maximum of 32 characters
                </small>
              </div>
              <div class="form-field">
                <label class="form-label">Lastname *</label>
                <input class="form-control"
                    type="text"
                    autocomplete="off"
                    formControlName="lastname"
                    [ngClass]="{'is-invalid': customerForm.controls['lastname'].invalid && customerForm.controls['lastname'].touched}">
                <small class="invalid-feedback">
                  The field is mandatory and has a maximum of 32 characters
                </small>
              </div>
            </div>
            <div class="field-row">
              <div class="form-field">
                <label class="form-label">dateOfBirth *</label>
                <input class="form-control"
                    type="text"
                    autocomplete="off"
                    formControlName="dateOfBirth"
                    [ngClass]="{'is-invalid': customerForm.controls['dateOfBirth'].invalid && customerForm.controls['dateOfBirth'].touched}">
                <small class="invalid-feedback">
                  Correct format is xxxx/xx/xx
                </small>
              </div>
              <div class="form-field">
                <label class="form-label">phoneNumber *</label>
                <input class="form-control"
                    type="text"
                    autocomplete="off"
                    formControlName="phoneNumber"
                    [ngClass]="{'is-invalid': customerForm.controls['phoneNumber'].invalid && customerForm.controls['phoneNumber'].touched}">
                <small class="invalid-feedback">
                  Iranian mobile number format
                </small>
              </div>
            </div>
            <div class="field-row">
              <div class="form-field">
                <label class="form-label">email *</label>
                <input class="form-control"
                    type="text"
                    autocomplete="off"
                    formControlName="email"
                    [ngClass]="{'is-invalid': customerForm.controls['email'].invalid && customerForm.controls['email'].touched}">
                <small class="invalid-feedback">
                  The email is not valid
                </small>
              </div>
              <div class="form-field">
                <label class="form-label">bankAccountNumber *</label>
                <input class="form-control"
                    type="text"
                    autocomplete="off"
                    formControlName="bankAccountNumber"
                    [ngClass]="{'is-invalid': customerForm.controls['bankAccountNumber'].invalid && customerForm.controls['bankAccountNumber'].touched}">
                <small class="invalid-feedback">
                  Iranian card number format dddd-dddd-dddd-dddd
                </small>
              </div>
            </div>
        </form>     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" (click)="closeDialog()">Close</button>
          <button type="button" class="btn btn-sm btn-primary" [disabled]="customerForm.invalid || (formgropChanged$ | async)" (click)="form.ngSubmit.emit()">Save changes</button>
        </div>
      </div>
    </div>
</div>